.vscode
build/*
config/paths*
.venv
host_tools
TODO
native/src/CMakeListsArchive
third_party
baseline/build
baseline2/build
baseline2/rpc_lib/build
rpc_lib/build
data/sync/rtt/*.csv
data/sync/resources/*.csv
